<%include header%>
<%include nav%>

<div class="container">
	<h1>Add Vehicle</h1>
	<div class="container form-newVehicle" id = "vehicleInfo">
		<form class="form-subVehicleLeft" id="noVin">
			<h2>Add With Details</h2>
			<label>Car Make: <input id='make' type="text" class="form-control" placeholder="Chevy" required="" /></label>
			<label>Car Model: <input id='model' type="text" class="form-control" placeholder="Corvette" required="" /></label>
			<label>Car Year: <input id='year' type="text" class="form-control" placeholder="2002" required="" /></label>
		</form>
		<form class="form-subVehicleRight" id="withVin">
			<h2>Add with VIN</h2>
			<label>VIN: <input id="vin" type="text" class="form-control" placeholder="1234567890" required=""></label>
			<button class="btn btn-primary" type="submit" id="vinSubmit">Search by VIN</button>
		</form>
	</div>

	<div class="container form-newVehicle">
	<form class="form-moreVehicleInfo container">
		<label>Color: <input id='color' type="text" class="form-control" placeholder="Red" required="" /></label>
		<label>Modifications: <input id='mods' type="text" class="form-control" placeholder="Exuast, lifted, etc..." required="" /></label>
		<label>Description: <textarea id="description" class="form-control" width="400"></textarea></label>
		<button id="infoSubmit" class="btn btn-primary" type="button">Submit</button>
	</form>
	</div>
</div>

<script>
	$('#vinSubmit').on('click',
		function (event){
			event.preventDefault();
			$.ajax({
				url: "/vehicles/getVehicleDetailsFromVin?vin=" + $('#vin').val().toUpperCase(),
				type: "GET",
				contentType: "application/json",
				processData: false

			})
			.done(
				function (response){
					$('#make').val(response.make);
					$('#model').val(response.model);
					$('#year').val(response.year);

					$('#make').prop('disabled', true);
					$('#model').prop('disabled', true);
					$('#year').prop('disabled', true);
				}
			);
		}
	)
	$('#infoSubmit').on('click',
		function (event){
			console.log("info submitted");
			event.preventDefault();
			var payload = {
				make: $('#make').val(),
				model: $('#model').val(),
				year: $('#year').val(),
				color: $('#color').val(),
				mods: $('#mods').val(),
				description: $('#description').val(),
				vin: $('#vin').val()
			};

			$.ajax({
				url: '/vehicles/addVehicle',
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify(payload)
			})
			.done(function (response){
				document.location.href = "/users/account";
			});

		}
	);
</script>
<% include footer %>