<%include header%>
<%include nav%>

<div class="container">
	<h1>Add Vehicle</h1>
	<form class="form-signin" id="noVin" style="float: left">
		<h2>Add With Details</h2>
		<label>Car Make: <input id='make' type="text" class="form-control" placeholder="Chevy" required="" /></label>
		<label>Car Model: <input id='model' type="text" class="form-control" placeholder="Corvette" required="" /></label>
        <label>Car Year: <input id='year' type="text" class="form-control" placeholder="2002" required="" /></label>
		<button class="btn-lg" type="submit" value="Submit">Submit</button>

	</form>
	<form class="form-signin" id="withVin" style="float: right">
		<h2>Add with VIN</h2>
		<label>VIN: <input id="vin" type="text" class="form-control" placeholder="1234567890" required=""></label>
		<button class="btn-lg" type="submit" value="Submit">Submit</button>
	</form>
</div>

<script>
	$('#noVin').on('submit',
		function (event) {
			event.preventDefault();
			$('#make').prop('disabled', true);
			$('#model').prop('disabled', true);
			$('#year').prop('disabled', true);
		}
	);
	$('#withVin').on('submit',
		function (event){
			event.preventDefault();
			$.ajax({
				url: "/vehicles/getVehicleDetailsFromVin?vin=" + $('#vin').val().toUpperCase(),
				type: "GET",
				contentType: "application/json",
				processData: false

			})
			.done(
				function (response){
					$('#make').val(response.make);
					$('#model').val(response.model);
					$('#year').val(response.year);

					$('#make').prop('disabled', true);
					$('#model').prop('disabled', true);
					$('#year').prop('disabled', true);
				}
			);
		}
	)
</script>
<% include footer %>