<%include header %>
<%include nav%>
<body>
	<div class="jumbotron">
	     <div class="container">
	        <h1>MotrGram</h1>
	        <p>A place to talk, see, and discover everything about cars</p>
    	    <p><a class="btn btn-primary btn-lg" role="button" href='/users/signUp'>Sign Up »</a></p>
	    </div>
    </div>
    <div class="container">
    	<!-- Example row of columns -->
      	<div class="row">
	        <div class="col-md-4">
		        <h2>Discover By Intrest</h2>
		        <p>Look up vehicles based off their modifications and your intrests. Filter by manufacture, model, year, modifications, and more.</p>
		        <p><a class="btn btn-default" href="#" role="button">Discover »</a></p>
	        </div>
	        <div class="col-md-4">
	          	<h2>Look Up Vehicle by VIN</h2>
	          	<p>Use our system to look up your vehicles or vehicles you are interested in by the VIN. Our system supports cars, boat, motorcycles, and aircraft </p>
	          	<p><a class="btn btn-default" href="#" role="button">Look Up »</a></p>
	       	</div>
	        <div class="col-md-4">
	          	<h2>Add Group</h2>
	          	<p>Add your car club or personal group to stay in touch with other members while sharing and discussing your unique vehicles and modifications</p>
	          	<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	        </div>
	      </div>
    </div>
</body>
<% include footer %>