.welcome, .navbarElement{
  float: left;
	padding: 15px 15px 15px 15px;
	font-size: 18px;
  height: 50px;
	color: #ffffff;
  line-height: 20px;
  margin: 0 0 0 0;
}

.col-md-6 {
  padding: 0px;
}

.newPostForm{
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  height: auto;
}

.newPostForm input{
  width: 225px;
}

.newPostForm label {
  text-align: center;
  margin: 5 auto;
}


.newPostForm .postHeader{
  text-align: center;
}
.signup-page{
	height: auto;
	width: auto;
  background-color: #eee;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
	margin-bottom: 5px;
}

.navbar-collapse .collapse{
  display: inline-block!important;
  float: left;  
}

.logout {
  float: right;
  padding: 6px 12px 6px 12px;
  background-color: #101010; 
  color: #777;
  border-color: #777; 
  margin: 8px -15px 8px 0px;
}

.feed-header h2 {
  margin-top: 10px;
}
.feed-header button{
  margin-top: 10px;
  text-align: right;
}

div.post {
  height: 202px; 
}
.post-image img {
  max-height: 200px;
  float: right;
  border-radius: 0px 25px 25px 0px;
}
.post-content-container, .post-vehical-container {
  height: 50%;
  margin: 0px;
  border: 1px solid #777;
}

.post-content-container {
  border-radius: 25px 25px 0px 0px;
}

.post-vehical-container {
  border-radius: 0px 0px 25px 25px;
}

.post-content, .post-vehical {
  margin-left: 20px;
}